@model WebApplication1.Models.ViewModels.PersonaViewModels
@{
    ViewBag.Title = "Editar";
}

<h2>Nuevo</h2>

@using (Html.BeginForm("Editar", "Persona", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d=>d.Id)
            <div>
                @Html.LabelFor(d => d.Nombre)
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "danger" })
            </div>
            <div>
                @Html.LabelFor(d => d.Apellido)
                @Html.TextBoxFor(d => d.Apellido, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Apellido, null, new { @class = "danger" })
            </div>

            <div>
                <input value="Guardar" type="submit" class="btn btn-primary" />
            </div>
        </div>
    </div>










}
